entrypoint = "Review2/greedy/big_number.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "Review2/greedy/big_number.py"]
deploymentTarget = "cloudrun"
